
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 795px;
}
.header-top{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}
.header-logo {
    width: 300px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
}
.header-logo a{
    width: 60%;
    height: 40px;
    color: black;
    font-size: 15px;
    font-family: Verdana,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
}
.header-logo b{
    margin-right: 15px;
}
.header-logo a:hover{
    background: #ccc;
}
.header-menu{
    width: 100px;
    height: 55px;
    font-size: 15px;
    font-family: Verdana,sans-serif;
    margin-right: 220px;
    display: flex;


}
.header-menu ul {
    display: flex;
    align-items: center;
    
}
.header-menu li a{
    width: 100px;
    height: 40px;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    
}
.header-menu li:hover{
    background: #ccc;
}
.header-banner {
    display: flex;
    justify-content: center;
    width: 98%;
    height: 745px;
    margin: auto;
    background-image: url(https://www.w3schools.com/w3images/architect.jpg);
}
.banner-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text h1{
    font-size: 36px;
    background-color: rgb(0, 0, 0,0.5);
    padding: 15px ;
    color: white;
    letter-spacing: 4px;
}
.banner-text h3{
    color: white;
    font-size: 36px;
    letter-spacing: 4px;
    margin-left: 10px;
}
main{
    width: 100%;
    display: block;
    position: relative;
    background: white;
}
.main-about{
    width: 100%;
    height:100%;
}
.main-top{
    width: 95%;
    height: 160px;
    background: rgb(255, 255, 255);
    display: flex;
    border-bottom: 1px solid #ccc;
    margin: auto;
}
.main-top span{    
    font-size: 24px;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.main-menu{
    margin-top: 45px;
    width: 100%;
    padding:0px 20px;
}
.main-menu1{
    width: 100%; 
    height: 235px;
    display: flex;
    justify-content: space-around;

}
.menu1, .menu2, .menu3, .menu4{
    width: 24%;
    height: 235px;
    position: relative;
}
.menu1 img, .menu2 img, .menu3 img, .menu4 img{
   width:100%;
   height:100%;
    
}
.main-menu1 b{
    font-size: 15px;
    color: white;
    position: absolute;
    top:0;
    left:0px;
    border: 1px solid black;
    width: 150px;
    height: 40px;
    background: rgb(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-menu2{
    width: 100%;
    height: 235px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.menu5, .menu6, .menu7, .menu8{
    width: 24%;
    height: 235px;
    position: relative;
}
.menu5 img, .menu6 img, .menu7 img, .menu8 img{
    width:100%;
    height:100%;
     
 }
 .main-menu2 b{
    font-size: 15px;
    color: white;
    position: absolute;
    top:0;
    left:0px;
    border: 1px solid black;
    width: 150px;
    height: 40px;
    background: rgb(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-about{
    width:100%;
    display:block;
}
.about-top{
    font-size: 24px;
    font-family: Verdana,sans-serif;
    border-bottom: 1px solid #ccc;
    margin-top: 60px;
    padding: 30px 0px;
}
.about-text{
    margin-top: 20px;
    font-size: 15px;
    font-family: Verdana,sans-serif;

}
.about-banner{
    width: 100%;
    height: 555px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  
}
.about-banner img {
    width: 350px;
    height: 235px;
    display: flex;
    justify-content: space-around;
}
.about-banner h3{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Verdana,sans-serif;

}
.about-banner span{
    margin-top: 25px;
    font-size: 15px;
    font-family: Verdana,sans-serif;
    color: #ccc;

}
.about-banner p{
    margin-top: 25px;
    font-family: Verdana,sans-serif;
}
.about-banner button{
    width: 350px;
    height: 40px;
    margin-top: 20px;
    font-family: Verdana,sans-serif;
    border: none;
}
.about-banner button:hover{
    background: #ccc;
    border: none;
}
.contact{
    margin-top: 100px;
    width: 100%;

   
    
}
.contact h3{
    width: 98%;
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.contact-main {
    width: 98%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.contact-main span{
    font-size: 20px;
}
.contact-main input{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 15px;
    font-size: 16px;
}
.contact-main button{
    margin-top: 35px;
    width: 150px;
    height: 40px;
    color: white;
    background: rgb(0, 0, 0, 1.5);
    border: none;
}
.contact-main button:hover{
    background: #ccc;
    border: none;
}
.contact-footer {
    margin-top: 40px;
    width: 100%;
    height: 920px ;
}
.contact-footer img{
    width: 98%;
    height: 870px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
footer{

    width: 100%;
    height: 80px;
    background: rgb(0, 0, 0);
    color: white;
    display: flex;  
    justify-content: center;
    align-items: center;
    
}
footer a{
    color: white;   
    margin-left: 8px;
}
footer a:hover{
    background: green;
}